.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}


body {
    background: #e0dfda;
    font-family: "Segoe UI", "San Francisco", serif;
    justify-content: center;
    align-items: center;
}

.headbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: blue;
    z-index: 4;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.middle {
    width: 50%;
    position: relative;
    top: 100px;
    float: left;
}

.left, .right {
    width: 25%;
    position: relative;
    top: 100px;
    float: left;
}

#logo {
    margin: 10px;
    aspect-ratio: 1;
    width: 60px;
}

#input_search {
    width: 20%;
    height: 40px;
    border-radius: 30px;
    padding-left: 20px;
}

.new_status {
    background: white;
    border: 1px solid black;
    border-radius: 9px;
    width: 100%;
    display: flex;
    margin: 0;
}

#avatar-container {
    margin: 10px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid black;
    flex-grow: 0;
}

#input_new_status {
    margin: 10px;
    position: relative;
    height: 40px;
    flex: 1;
    border-radius: 30px;
    padding: 10px;
}

.left *, .right * {
    margin-right: 20px;
}

.left ul, .right ul {
    padding: 20px 40px;
    background: white;
    border-radius: 6px;
}

.left h4, .right h4 {
    margin: 0;
    padding: 20px;
    font-size: 1.25em;
    color: gray;
}

.left li {
    margin: 10px 5px;
}


.right * {
    margin-left: 20px;
    margin-right: 10px;
    border-radius: 6px;
    background: white;
}

.right {
}

.post {
    display: inline-block;
    background: white;
    border-radius: 6px;
    border: 1px solid black;
    margin: 6px 0;
}

.post * {
    margin: 10px;
}
